/*Setting up font*/
*{
    /*margin:0;*/
    padding:0;
    font-family: 'Poppins';font-size: 16px;
    /*box-sizing: border-box;*/
}

.Navigation{
    /*background-color: beige;*/
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
}

.navlink{
    font-size: 16px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color:#AF7E00;
    font-weight: bold;
}

/*Nav link hover state*/
.navlink:hover{
    color:white;
}

.navSmall:hover{
    background-color:#AF7E00;
}


.heart{
    padding-right: 20px;
}

button {
    background-color: #AF7E00;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: auto;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
}

button:hover{
    background-color: black;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

a{
    text-decoration: none;
    color: white;
}

.dogName{
    margin-top: 700px;
    padding-left: 80px;

    margin-bottom: 30px;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 91.02%;
    /* or 87px */

    display: flex;
    align-items: flex-end;
    color:#AF7E00;
}

@keyframes fade-in {
    from {
        opacity: 0%;
      }
      to {
        opacity: 100%;
      }
  }


.profImage{
    width:100%;
    height: 80%;
    position: absolute;
    top:0px;
    z-index: -1000;
    object-fit: cover;
    animation: fade-in 2s;
 
}

.Ddetail{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.heading{
    color: #AF7E00;
    font-size: 18px;
    margin-right: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

#Dmain{
    /*background-color: antiquewhite;*/
    display: flex;
}

.oneThird{
    /*background-color: antiquewhite;*/
    width:auto;
    margin-left: 80px;
}

.lowSec{
    
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.callAction{
    background-color: beige;
    width:50%;
}

.reqInfo{
    /*background-color: beige;*/
    margin-left: 80px;
    margin-right:80px;
    display:flex;
    justify-content: end;
}


@media screen and (max-width:820px){
    
    .dogName {
        margin-top: 770px;
    }

    #Dmain{
        display: flex;
        flex-direction: column;
    }

}